footer
  color: $footer-color
  background: $footer-bg
  padding-top: $grid-gutter-width/4
  margin-top: $grid-gutter-width*2
  .social-list
    @extend .list-inline
    .social
      @extend .text-center
      width: $grid-gutter-width
      height: $grid-gutter-width
      color: white
      font-size: 20px
      padding-top: 5px
      &:hover
        +opacity(.8)
    .facebook
      +fa-make(facebook)
      @extend .social
      background: #48649F
    .google-plus
      +fa-make(google-plus)
      @extend .social
      background: #D73D32
    .github
      +fa-make(github)
      @extend .social
      background: black
  .list-inline
    padding-top: $grid-gutter-width/4
    a
      color: white