%title= @title||"MinUrl"
= stylesheet_link_tag    'application', media: 'all'
= javascript_include_tag :modernizr
= csrf_meta_tags
%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
%script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5462f8e03ddcb6f7", :type => "text/javascript"}