!!!
%html
  %head= render :partial => 'layouts/header'
  %body
    .main-content
      = yield
    = javascript_include_tag 'application'
    %script{:async => "async", :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5462f8e03ddcb6f7", :type => "text/javascript"}